/* media querries */

@media only screen and (max-width: 1415px) {
  #hero-text {
    font-size: 5rem;
    line-height: 100px;
  }
}

@media only screen and (max-width: 1210px) {
  #hero-text {
    margin-left: 5%;
  }
  #hero img {
    margin-right: 5%;
  }
}

@media only screen and (max-width: 1070px) {
  #hero-text {
    margin-left: 25px;
  }
  #hero img {
    margin-right: 25px;
  }
}

@media only screen and (max-width: 1060px) {
  #hero {
    height: 900px;
  }
  #hero-content {
    flex-direction: column-reverse;
  }
  #hero-text {
    width: 90%;
    margin: 0;
    text-align: center;
  }
  #hero img {
    margin: 0;
  }
  #navbar ul li {
    display: none;
  }
  #logo {
    font-size: 2rem;
    margin-bottom: 0;
  }
  #navbar {
    margin: none;
    padding-bottom: 0;
  }
  .showoff {
    flex-direction: column;
  }
  .showoff picture {
    margin-bottom: 25px;
  }
  .showoff #showoff-content {
    width: 700px;
    text-align: center;
  }
  picture img {
    height: 300px;
  }
}

/* *{
    border: 2px solid yellow;
  } */

@media only screen and (max-width: 815px) {
  #hero-text {
    width: 99%;
  }
}

@media only screen and (max-width: 740px) {
  #hero {
    height: 1050px;
  }
}

@media only screen and (max-width: 710px) {
  .showoff #showoff-content {
    width: 90%;
  }
}

@media only screen and (max-width: 550px) {
  #hero-text {
    font-size: 4rem;
    line-height: 80px;
  }
  #hero img {
    height: 400px;
  }
  #hero {
    height: 800px;
  }
}

@media only screen and (max-width: 560px) {
  /* .showoff picture {
      height: 200px;
      width: 300px;
    } */
  .showoff #showoff-content p {
    font-size: 1.3rem;
  }
  #stage-one-image {
    height: 150px;
  }
  #stage-two-image {
    height: 300px;
  }
}

@media only screen and (max-width: 745px) {
  #form-area h1 {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 1350px) {
  #form-area form {
    padding: 100px 60px;
  }
  footer {
    padding: 100px 60px;
  }
}

@media only screen and (max-width: 1020px) {
  #form-area form {
    justify-content: center;
  }
  .register-btn {
    width: 600px;
    margin-top: 10px;
  }
  #form-area form input,
  #form-area form label {
    width: 600px;
  }
  #footer-top {
    flex-direction: column;
  }
  footer h2 {
    margin-bottom: 25px;
  }
  #footer-bottom {
    flex-direction: column;
  }
  #footer-bottom p {
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 720px) {
  #form-area form {
    padding: 50px 25px;
  }
  footer {
    padding: 50px 25px;
  }
}

@media only screen and (max-width: 650px) {
  .register-btn {
    width: 500px;
  }
  #form-area form input,
  #form-area form label {
    width: 500px;
  }
}

@media only screen and (max-width: 550px) {
  .register-btn {
    width: 350px;
  }
  #form-area form input,
  #form-area form label {
    width: 350px;
  }
}
